@import 'tailwindcss';

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('@/assets/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('@/assets/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('@/assets/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('@/assets/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('@/assets/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  src: url('@/assets/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Black.ttf');
  font-weight: 900;
  font-style: normal;
}

* {
  font-family:
    'HarmonyOS Sans SC',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif !important;
}
